
.sliderbar{
          width: 250px;
          height: 11px;
          display: flex;
          gap:16px;
          .bar{
            width: 44px;
            height: 11px;
            border-radius: 28px;
            background-color: #FEBAD7;
          }
          .show{
            width: 65px;
            background-color: #FB2E86;
          }
        }
.card{
          display: flex;
          align-items: center;
          justify-content: end;
          flex-direction: column;
          position: relative;
          width: 320px;
          height: 320px;
          background-color: #FECEDE;
          border-radius: 43px;
          img{
            position: absolute;
            top: -30px;
          }
          nav{
            
          }
          p{
            font-size: 36px;
            font-weight: 500;
          }
          span{
            color:#151875;
            font-size: 18px;
            font-weight: 700;
          }
        }
.leatest-card{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          text-align: center;
          width: 320px;
          height: 320px;
          background-color: #FECEDE;
          border-radius: 43px;
          img{
          }
          p{
            font-size: 18px;
            font-weight: 800;
          }
          span{
            color:#151875;
            font-size: 18px;
            font-weight: 700;
          }
        }
.trending-card{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          text-align: center;
          width: 320px;
          height: 320px;
          background-color: #FECEDE;
          border-radius: 43px;
          img{
            
          }
          p{
            font-size: 18px;
            font-weight: 800;
          }
          span{
            color:#151875;
            font-size: 18px;
            font-weight: 700;
          }
        }
  .promotion{
    width: 100%;
    height: 593px;
    background-color: #EECCD7;
    display: flex;
    justify-content: center;
    align-items: center;
    article{
      margin-left: 120px;
      width: 506px;
      height: 408px;
      padding: 5px 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap:34px;
      main{
        width: 506px;
        height: 208px;
        display: flex;
        flex-direction: column;
        gap: 13px;
        h1{
          font-size: 48px;
          font-weight: 700;
          color: black;
        }
        p{
          margin-top: -10px;
          font-size: 24px;
          color: var(gray-text);
        }
        span{
          margin-top: 10px;
          font-size: 36px;
          font-weight: 500;
          color: black;
        }
      }
    }
      button{
        width: 395px;
        height: 88px;
        font-size: 24px;
        font-weight: 500;
        color: white;
        background: linear-gradient(180deg, #EC368D 0%, #D72828 100%);
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
      }
      div{
        position: relative;
        &::before{
          content: '';
          position: absolute;
          right: 40px;
          top: 60px;
          width: 487.54px;
          height: 487.54px;
          border-radius: 100%;
          background: linear-gradient(180deg, rgba(227, 48, 48, 0.28) 0%, rgba(247, 112, 150, 0.0924) 100%);
        z-index: 1;

        }
        &::after{
          content: '';
        position: absolute;
        width: 485.29px;
        height: 485.29px;
        border-radius: 100%;
        right: 60px;
        bottom: 20px;
        background: linear-gradient(180deg, rgba(227, 48, 48, 0.28) 0%, rgba(247, 112, 150, 0.0924) 100%);
        transform: rotate(-16.16deg);
        z-index: 2;

        }
      }
  }

.controller {
  z-index: 3;
  position: relative;
}

.discount{
  position: absolute;
  z-index: 3;
  top: 60px;
  right: 40px;
}
.featuredProducts {
    width: 100%;
    height: 599px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 51px;
        color: #1A0B5B;
        margin-bottom: 40px;
    }

    main {
        display: flex;
        gap: 30px;
        }
        
    }
    // list-style-type: none;
.leatestProducts{
  padding: 20px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:25px;
  h1{
    color: #151875;
    font-size: 42px;
  }
  article{
    .leatest-mage{
      position: relative;
      color: #FB2E86;
      &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        bottom: 0;
        background-color: #FB2E86;
      }
    }
    list-style-type: none;
    display: flex;
    gap: 60px;
  }
  aside{
    width: 80%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.goffer{
  padding: 40px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: auto;
  h1{
    color: #151875;
    font-size: 42px;
  }
  aside{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
    div{
      width: 270px;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap:20px;
      box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
      transition: 0.3s;
      &:hover{
        scale: 1.09;
        transform: translateY(-10px);
        border-bottom: 2px solid #FF9100;
      }

      h3{
        color: #151875;
        font-size: 22px;
        font-weight: bold;

      }
      p{
        color:#1a0b5b54;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
.leatestblog{
  padding: 0 0 90px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  h1{
    font-size: 42px;
    color: #151875;
  }
  nav{
    width: 90%;
    display: flex;
    gap:56px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    div{
      width: 370px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .block{
        display: flex;
        width: 100%;
        gap:15px;
        font-weight: 700;
        
      }
      h3{
        color: #151875;
      }
      p{
        color: #72718F;
      }
      u{
        color: #151875;
      }
    }
  }
  }
.leatestAside{
  padding: 0px 0px 20px 0px;
}
